.card{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.image{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cardsub{
  color: white;
  width: 200px;
  background: rgb(17, 86, 206);
 text-align: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;

}


.maincard{
  background-color: black;
}

.subhadding{
  display: flex;
 justify-content: space-around;
 background-color: black;
 color: whitesmoke;
 margin: 20px;
}

